@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Heavy.woff2') format('woff2'),
        url('HelveticaNeueCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

